<article class="border border-1" style='height: 100vh'>
  <div class='p-0'>
    <div class='border border-1 p-4'>
      <span>WHO TO FOLLOW</span>
    </div>
     <%= render @who_to_follow %>
  </div>
</article>
