<section class='p-3 mx-3'>
    <div class="card-body m-4 border border-1 rounded bg-op">
        <h5 class="card-title border-bottom py-2">Opinions</h5>
        <% @opinions.each do |opinion| %>
            <div class='d-flex'>
              <img src='#'>
              <div class='w-100 px-3'>
                <div class='d-flex justify-content-between align-items-center'>
                  <span><%= @user.fullname %></span>
                   <span><%= time_ago_in_words(opinion.created_at) + ' ago' %></span>
                </div>
                <p><%= opinion.text %></p>
              </div>
            </div>
        <% end %>
    </div>
</section>
