<div class="border border-1 bg-light" style='height: 100vh'>
    <div class='p-0'>
      <div class='border border-1 p-4'>
        <span>USER PROFILE</span>
      </div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active text-secondary mx-2 px-0" aria-current="page" href="#">TWEETS</a>
        </li>
      </ul>
    </div>

    <div class='p-0'>
      <div class='border border-1 p-4'>
        <span>FOLLOWED BY</span>
      </div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active text-secondary mx-2 px-0" aria-current="page" href="#">TWEETS</a>
        </li>
      </ul>
    </div>
</div>