 <nav class='border border-1 border-end-0 p-3'>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active text-secondary mx-2 px-0" aria-current="page" href="#">TWEETS</a>
    </li>
  </ul>
</nav>
