 <nav class='border border-1 border-end-0 p-3'>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to 'TWEETS', root_path, class: 'nav-link active text-secondary mx-2 px-0'  %>
    </li>
  </ul>
</nav>
