<div class="d-flex my-3 px-2">
    <div class="author">
        <%= photo(user, 'rounded-circle small-photo')%>
    </div>
    <div class="d-flex flex-column justify-content-center fs-6 w-100 px-2" style='font-size: 12px'>
        <%= link_to user.fullname, profile_path(user.username), class: "text-dark my-0 py-0", style: 'text-decoration: none'%>
        <span class='text-secondary' style='font-size: 10px'><%= '@' + user.username %></span>
    </div>
    <div><%= follow(user) %></div>
</div>
