<section class="d-flex justify-content-center p-5 align-items-center">
    <section class="form-signup">
      <div class='text-center'>
        <i class="fab fa-twitter fs-1 m-2"></i>
        <h1 class="h3 mb-3 fw-normal">Update Profile</h1>
      </div>
      <%= render 'users/form' %>
    </section>
</section>

