<aside class="d-flex flex-column flex-shrink-0 p-0 text-white bg-dark blue" style='height: 100vh'>
    <a href="/" class="d-flex align-items-center mb-0 mb-md-0 me-md-auto text-white text-decoration-none p-2">
      <%= photo(current_user) %>
      <span class="fs-5 p-2 fs-6"><%= current_user.fullname %></span>
    </a>
     <article class='connections d-flex justify-content-around my-2 px-2' style="font-size: 12px">
        <div class='text-center'>
          <span><%= current_user.following.count %></span><br/>
          <span>Following</span>
        </div>
        <div class='text-center'>
          <span><%= current_user.followers.count %><span><br/>
          <span>Followers</span>
        </div>
      </article>
      <hr>
    <ul class="nav nav-pills flex-column mb-auto mx-0 px-0">
      <li class="nav-item">
        <a href="#" class="nav-link active text-white" aria-current="page">
          <i class="fas fa-home me-3"></i>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="fas fa-globe me-3"></i>
          Connect
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="fas fa-hashtag me-3"></i>
          Discover
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="fas fa-user-friends me-3"></i>
          People
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="fas fa-chart-line me-3"></i>
          Statistics
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </aside>
