<header>
    <div class="p-3 bg-twitter text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none fs-2">
            <i class="fab fa-twitter"></i>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-white">
               <i class="fas fa-pen"></i>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <i class="fas fa-search"></i>
              </a>
            </li>
            <li>
              <%= link_to edit_user_path(current_user), class: 'nav-link text-white' do %>
                <i class="fas fa-cog"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </header>
