/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

* { 
    // border: 1px solid red;
    list-style-type: none;
}


.aside-nav li:nth-child(1)::before { content: '\f015'; font-family: FontAwesome; padding-right: 15px }
.aside-nav li:nth-child(2)::before { content: '\f0ac'; font-family: FontAwesome; padding-right: 15px }
.aside-nav li:nth-child(3)::before { content: '\f292'; font-family: FontAwesome; padding-right: 15px }
.aside-nav li:nth-child(4)::before { content: '\f007'; font-family: FontAwesome; padding-right: 15px }
.aside-nav li:nth-child(5)::before { content: '\f201'; font-family: FontAwesome; padding-right: 15px }


.header-nav li,
.opinions-tab li { display: inline;}
.opinions-tab li { padding: 20px 10px;}

.bg-twitter { background-color: #1DA1F2;}
.blue { background-color: #001f32;}
aside { width: 260px}
main { width: 100%;}
.aside-nav li { padding: 10px 0;}
.bg-op { background-color: #fff; }
